name: Test if old Fabric API works with new Snapshot

on:
  workflow_dispatch:
    inputs:
      mc_version:
        description: "Minecraft version to test"
        required: true
      yarn_mappings:
        description: "Yarn mappings version (no longer used)"
        required: false
      fabric_loader:
        description: "Fabric Loader version"
        required: true
      fapi_version:
        description: "Fabric API version"
        required: true
      cf_game_version:
        description: "CurseForge GameVersion"
        required: true
      distinct_id:
        required: false

jobs:
  test:
    runs-on: ubuntu-latest
    steps:

    - name: Echo distinct ID ${{ inputs.distinct_id }}
      run: echo ${{ inputs.distinct_id }}

    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Set up Python 3.12
      uses: actions/setup-python@v6
      with:
        python-version: "3.12"

    - name: Set up Java 21
      uses: actions/setup-java@v5
      with:
        java-version: "21"
        distribution: "microsoft"

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
      with:
        build-scan-publish: true
        build-scan-terms-of-use-url: "https://gradle.com/help/legal-terms-of-use"
        build-scan-terms-of-use-agree: "yes"
        cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
        cache-read-only: ${{ github.ref != 'refs/heads/master' && !startsWith(github.ref, 'refs/heads/1.') }}

    - name: Update version constants
      run: |
        python scripts/update_version_constants.py \
          "${{ inputs.mc_version }}" \
          "${{ inputs.fabric_loader }}" \
          "${{ inputs.fapi_version }}" \
          "${{ inputs.cf_game_version }}"

    - name: Run build
      run: ./gradlew build --stacktrace --warning-mode=fail

    - name: Run client gametests
      env:
        IMGUR_CLIENT_ID: ${{ secrets.IMGUR_CLIENT_ID }}
      run: ./gradlew runClientGameTest --stacktrace --warning-mode=fail
